body{
	background: url(../images/headerBg.png) no-repeat;
	background-position: bottom center;
	background-size: 100% 100%;

}

.header{
	position: relative;
	border-radius: 3%;
	box-shadow:0 10px 18px -10px rgba(0,0,0,0.25);
	padding: 0 20px;
}
.jumbotron{
	background: none;
	color: #fff;
}